<%-include('../partials/header')%>
<%-include('../partials/navbar')%>
<%-include('../partials/flash')%>

<div class="row mt-5">
    <% for(let item of user.cart){ %>

        <div class="col-lg-4 product-card">
            <div class="card text-center shadow mt-3 mx-auto" style="width: 18rem;">
                <img class="img" src="<%=item.img%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title"> <%= item.name %> </h3>
                  <h5 class="card-title"> Rs: <%= item.price %> </h5>
                  <!-- <p class="card-text"> <%= item.instock %> </p> -->
                  
                  <!-- quantity dropdown -->
                  <!-- <p>Quantity </p> -->
                  <select class="form-select" aria-label="Default select example" style="width: 4rem;">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                  <a href="/products/<%=item._id%>" class="btn btnn btn-primary">View Product</a>

                  <!-- remove from cart -->
                  <form action="/user/<%=item._id%>/cart/remove" class="d-inline-block" method="post">
                    <button type="submit" class="btn btnn btn-primary">Remove</button>
                  </form>
                </div>
            </div>
        </div>
    <% } %>
</div>
<div class="col-lg-4">
  <% let totalAmount = 0; %>
  <ul>
    <% for(let item of user.cart){ %>
      <li><span> <%= item.name %> --&gt; &#x20B9; <%= item.price %> </span></li>
      <% totalAmount = totalAmount + item.price; %>
    <% } %>

    <!-- total amount -->
    <% if(totalAmount > 0){ %>
      <h5>Total Amount --&gt; &#x20B9; <%= totalAmount %> </h5>
      <a href="/user/checkout"> <button class="btn btn-primary">Checkout</button> </a>
    <% } else { %>
      <h3 class="mt-5 text-center">cart is empty</h3>
    <% } %>
    
  </ul>
</div>

<script src="/js/common.js"></script>
<%-include('../partials/footer')%>